/* ! keep the colors in this style ! 32, 107, 196*/
:root {
  --main-color: 66, 153, 225;
  --dark-color: 12, 41, 77;
  --navigator-text-color: 66, 153, 225;
  --navigator-background-color: 12, 41, 77;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: transparent;
}

.tablet {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #2e2e2e;
  overflow-y: scroll;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  color: #f0f0f0;
  border-radius: 40px;
  border: 20px solid rgb(19, 19, 19);
  outline: 5px solid #898989;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

body {
  font-family: "Inter", sans-serif !important;
  background: #191b28;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent;
}

body ::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background: rgb(104 104 104 / 50%) !important;
  height: 5px !important;
}

body ::-webkit-scrollbar-track {
  background: #e7eaef00 !important;
  box-shadow: none !important;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

.spin-button {
  font-weight: 800;
  background-color: #199bf0;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 40%) 0px -13px 17px 0px inset;
  border: none !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease;
}

.spin-button:hover {
  background-color: #2b8eff;
  transform: scale(1.05);
}

.exit-button {
  color: rgb(215, 215, 215);
  background-color: rgb(255, 30, 30, 0.15);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
  border: none !important;
  transition: all 0.2s ease;
}

.exit-button:hover {
	color: rgb(215, 215, 215);
  background-color: rgba(255, 30, 30, 0.3);
  transform: scale(1.05);
}

.roulette-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.selector {
  width: 3px;
  background: #2b7acc;
  left: 50%;
  height: 100%;
  transform: translate(-50%, 0%);
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 17px 5px #00000057;
}

.wheel {
  display: flex;
}

.rowCard {
  display: flex;
}

.display-card {
  background-size: contain;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;
  box-shadow: inset 0px -57px 73px -28px rgb(0 0 0 / 85%) !important;
  transition: all 0.2s ease;
}

.display-card:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.item-card-title {
  position: absolute;
  left: 0.5rem;
  bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  font-size: medium;
  white-space: break-spaces;
}

.item-card-type {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  font-weight: 500;
  color: #cfcfcfc0;
  font-size: medium !important;
}

.item-card-probability {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-weight: 500;
  color: #b3b3b3;
}

.rouletteCard-svg {
  height: 13rem;
  width: 12rem;
  margin: 3px;
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em; /* border: 3px solid #ffffff4a; */
}

.legendary {
  background-color: #f5b942fd;
  box-shadow: inset 0 0 40px 5px #7a4a0f;
}

.legendary-svg {
  stroke: #f5b942fd;
}

.legendary-svg-path {
  fill: url(#gradient-legendary);
}

.epic {
  background-color: #c368dcfd;
  box-shadow: inset 0 0 40px 5px #520966;
}

.epic-svg {
  stroke: #c368dcfd;
}

.epic-svg-path {
  fill: url(#gradient-epic);
}

.rare {
  background-color: #4a9dfdfd;
  box-shadow: inset 0 0 40px 5px #001935fd;
}

.rare-svg {
  stroke: #4a9dfdfd;
}

.rare-svg-path {
  fill: url(#gradient-rare);
}

.common {
  background-color: #fffffffd;
  box-shadow: inset 0 0 40px 5px #4a4a4a;
}

.common-svg {
  stroke: #fffffffd;
}

.common-svg-path {
  fill: url(#gradient-common);
}

.modal-content {
  background-color: #2e2e2e !important;
  color: #f0f0f0 !important;
}

.modal-blur {
  backdrop-filter: blur(8px) !important;
  background-color: #00000030 !important;
}

* {
  box-sizing: border-box;
}

/* Winning modal */
.congratulations-text {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-weight: 1.7rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-won-svg {
  height: 16rem;
  width: 16rem;
  position: relative;
  margin: 3px;
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  z-index: -1 !important;
  animation: scale-svg 2s linear infinite;
}

@keyframes scale-svg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.item-won-name {
  font-weight: 600;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-won-before {
  margin-top: 1rem;
  font-weight: 700;
  color: rgb(196, 196, 196) !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-won-shadow-common {
  filter: drop-shadow(0px 0px 90px #fff) !important;
}

.item-won-shadow-rare {
  filter: drop-shadow(0px 0px 90px #2b8efffd) !important;
}

.item-won-shadow-epic {
  filter: drop-shadow(0px 0px 90px #d334ff) !important;
}

.item-won-shadow-legendary {
  filter: drop-shadow(0px 0px 90px #ff9f29) !important;
}

.item-won-sell {
  font-size: 1.3rem;
  font-weight: 700;
  background-color: rgb(155 155 155 / 75%);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 30%) 0px -13px 17px 0px inset;
  border: none;
  padding: 0.7375rem 1rem !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease;
}

.item-won-sell:hover {
  background-color: rgb(155 155 155 / 90%);
  transform: scale(1.05);
}

.item-won-collect {
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: rgb(0 63 205 / 80%);
  box-shadow: rgb(0 0 0 / 30%) 0px -13px 18px 0px inset;
  border: none;
  padding: 0.7375rem 1rem !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease;
}

.item-won-collect:hover {
  background-color: rgb(0 63 205 / 90%);
  transform: scale(1.05);
}
